.form_control {
    display:flex;
    margin-bottom: 0.5em;                           /*Afasta os inputs*/
    justify-content: space-between;                 /*Espaçamento entre os itens*/
}

.form_control label {
    margin-right: 1em;                              /*Afasta a label dos inputs*/
    text-align: left;
}

.form_control input {
    padding: 0.3em;
}