.button {
    background-image: linear-gradient(0deg,#000000,#275477);
    color: #FFF;
    padding: 0.7em 2em;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
}

.button:hover {
    color: #FFBB33;
    border-top-left-radius: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 15px;
}