.newbook_container {
    text-align: center;
    align-items: center;
    margin-top: 2em;
    padding: 1em;
    border: 3px solid #FFFFFF;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    height: min-content;
}