.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    
}

/*CLASSES VARIÁVEIS*/
.container_main {
    min-height: 80vh;
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.start ul li {
    padding: 0.2em;
    list-style: none;
}

.title_container {
    margin-bottom: 2em;
}
.search_container {
    margin-bottom: 2em;
}

