.footer {
    padding: 2em;
    background-image: linear-gradient(45deg,#000000,#6a9bd2);
    text-align: center;
    color: #AAAAAA;
    width: 100%;
}

.copyright span{
    font-weight: bold;                                      
    color: #DDDDDD;
}

p {
    padding: 0.1em;
}