.footer {
    padding: 2em;                                           /*Espaça o conteúdo central de todas as bordas*/
    background-image: linear-gradient(45deg,#000000,#6a9bd2);
    text-align: center;
    position: absolute;                                     /*Cola o footer na parte de baixo*/
    bottom: 0;                                              /*Começa o footer do início, de baixo pra cima*/
    width: 100%;                                            /*Expande para 100% do width*/
    height: 100px;
    color: #AAAAAA;
}

.copyright span{
    font-weight: bold;                                      
    color: #DDDDDD;
}

p {
    padding: 0.1em;
}