.button {
    background-image: linear-gradient(to bottom right, #222, #777);
    color: #EEE;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #222;
    transition: 0.5s;
    text-decoration: none;
    font-weight: bold;
}

.button:hover {
    color: #FFBB33;
}