.book {
    border: 2px solid #ffffff;
    width: 90vh;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content:space-between;
    list-style: none;
    padding: .1em;
    margin-bottom: 5px;
    transition: 0.4s;
    padding-left: 1em;
}

.book:hover{
    padding-left: 5em;
    transition: 0.4s;
    border-color: #333333;
}

.book li{
    padding: .3em;
}

.bookline_actions{
    display: flex;
    align-items: center;                    /*Alinhar na vertical*/
    justify-content: center;
}

.bookline_actions a,
.bookline_actions button{
    text-decoration: none;
    background-image: linear-gradient(90deg,#274562,#418ec8);
    color: #000000;
    font-size: 0.9em;
    padding: 0.4em 0.4em;
    cursor: pointer;
    margin-right: 0.2em;
    margin-left: 0.2em;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
    border: 1px solid #333333;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0.445em;
}

.bookline_actions a:hover,
.bookline_actions button:hover{
    background-image: linear-gradient(90deg,#467caf,#90c0e4,#467caf,#90c0e4);
    color: #FFFFFF;
    font-size: 1.1em;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 0em;
    transition: 0.5s;
}