* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;           /*Pros inputs não ultrapassarem a area maxima das divs em que estiverem*/
}

html, body, #root {
  background-image: linear-gradient(90deg,#ffffff,#bcc6d2,#ffffff,#bcc6d2);
  color: #333333;
  height: 100%;
}